.TitleContainer {
    background-color: #ffd400;
    margin: 0;
    padding: 60px;
}

.AppTitle {
    font-size: 55px;
    color: #393456;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
    font-family: 'Work Sans', sans-serif;
}

.Heading {
    color: #d90368;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.Errors {
    margin-left: 60px;
    color: #da0a6c;
}

.Button.Calculate {
    width: auto;
    display: inline-block;
    padding: 15px;
    margin-top: 20px;
}

.AllShareIndex {
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
}
