.Stocks {
    width: 60%;
    display: inline-block;
    border-right: solid 1px #cecbc6;
}

.StocksHeader {
    color: #353053;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    margin: 25px 0;
    width: 60%;
    padding-left: 60px;
}
