.StockRow {
    width: 100%;
    height: 65px;
    padding: 5px 0px 5px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #cecbc6;
}

.StockRow:last-child {
    border-bottom: 0;
}

.StockName {
    vertical-align: middle;
    flex-basis: 5%;
}

.TransactionButtons {
    height: 100%;
    display: flex;
}

.Button {
    width: 120px;
    background-color: #f1e9da;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #2E294E;
    margin: 0 10px;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
}

.Button.Buy {
    color: #3a9d9d;
    border-color: #3a9d9d;
}

.Button.Sell {
    color: #d90368;
    border-color: #d90368;
}
