.HistoryHeader {
    padding-left: 20px;
}

.RecordHistory {
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.TradeRow {
    display: flex;
    padding: 5px 20px;
    align-items: center;
}

.TradeTypeIndicator {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.TradeRow.Selling .TradeTypeIndicator {
    background-color: #d90368;
}

.TradeRow.Buying .TradeTypeIndicator {
    background-color: #3a9d9d;
}

.TradeField {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.TradeFieldLabel {
    margin-right: 4px;
}

.HistoryHeader {
    color: #353053;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    margin: 25px 0;
    padding-left: 20px;
    width: 40%;
}
